<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Tallyserver" connectionString="Data Source=27.106.125.26,1433;Initial Catalog=TallyDB;User ID=sa;Password=optimalrx"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
